@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Lobster|Raleway:400,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// BULMA VARIABLES ************************************************************
$input-background-color: transparent;
$input-border-color: none;
$input-shadow: none;
$input-hover-border-color: none;
$input-focus-border-color: none;
$input-focus-box-shadow-size: 0;
$control-radius: 0;
$danger: #802030;
$success: #004225;
$info: #171d22;
@import "~bulma/bulma";

// GENERAL *********************************************************************
$stars: #000;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

p,
.title,
.subtitle {
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

input,
textarea {
  font-family: inherit;
  font-size: 3rem;
  resize: none!important;

  &:not([id^="react-select"]) {
    border-bottom: 2px $info solid!important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #f9fafc;
  min-height: 100vh;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  border-bottom: 1px solid #ccc;

  #navbar-hero {
    font-family: 'Roboto Mono', monospace;
  }
}

.button {
  opacity: 0.8;
  transition: all 0.4s;

  &:hover {
    opacity: 1.0;
  }
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 6rem;
  position: relative;
  padding: 0;
  text-shadow: 0 1px 0 #a2a2a2;

  &-top {
    color: $stars;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}
// CONTACT (CREATOR) FORM ******************************************************

form {
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .button:hover span {
    padding-right: 25px;
  }

  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
}
// ITEMS INDEX *****************************************************************

#sortButton {
  padding-bottom: 31px;
  display: flex;
  align-items: baseline;
  width: 8rem;

  #newest,
  #rating {
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }

  #newest.displayed,
  #rating.displayed {
    opacity: 1;
  }
}

.itemDiv {
  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;

  .image {
    transition: background 0.5s ease;
  }

  .itemDescription {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.8);
    overflow: hidden;

    .star-ratings-css {
      &-top {
        color: #fff;
      }

      &-bottom {
        display: none;
      }
    }

    h3 {
      color: #fff;
    }
  }

  &:hover {
    .itemDescription {
      opacity: 1;
    }
  }
}
// ITEM SHOW ******************************************************************

.item-info {
  h3.subtitle {
    margin-bottom: 0;
  }

  .editDelete {
    display: flex;
    justify-content: flex-start;

    .editDeleteButtons {
      margin: 15px 5px 0 0;
    }
  }

  .item-description {
    margin: 10px 0;
  }

  .contact-container {
    margin: 5px;
    display: flex;
    justify-content: center;
  }
}

.column {
  h2.profile-header {
    margin-bottom: 0;
  }
}

.profile-name-image {
  display: flex;
  justify-content: space-between;

  .subtitle {
    margin-top: 1.5rem;
  }
}

.profile-link {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  border: 3px solid #ccc;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
    border: 3px solid $info;
  }
}
// ITEM SHOW > COMMENT BOX *****************************************************

.itemComment {
  .star-ratings-css {
    transform: scale(0.7);
  }
}

.card.comments {
  margin: 10px auto;

  button {
    margin: 0.5rem;
  }

  .card-footer {
    a {
      margin: 5px auto auto;
    }
  }

  .comment-body {
    margin-top: 10px;
  }
}

.card-content {
  height: 15rem;
  overflow: scroll;
}
// CREATOR SHOW ****************************************************************

.creator-profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    background-size: cover;
    border-radius: 100%;
    border: 3px solid #ccc;
    width: 10rem;
    height: 10rem;
  }

  h1.title {
    margin: 1rem 0 0;
  }

  p {
    margin: 1rem 0;
  }

  .creator-buttons {
    width: 20rem;
    display: flex;
    justify-content: space-around;
  }

  #deleteProfileBtn {
    span {
      opacity: 0;
      transition: opacity 0.5s ease;
    }

    .deleteBtn {
      position: absolute;
    }

    span.active {
      opacity: 1;
    }
  }

  form {
    width: 100%;
  }
}

.profileImageLarge {
  height: 30rem;
  width: 30rem;
  margin: 0 auto 3rem;
  transition: background-image 0.5s ease;
}

#creatorItemDescription {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow: hidden;

  &:hover {
    opacity: 1;
  }

  h3 {
    color: #fff;
  }

  .star-ratings-css {
    transform: scale(2)
  }

  .star-ratings-css-top {
    color: #fff;
  }

  .star-ratings-css-bottom {
    opacity: 0;
  }
}

.profileImagesSmall {
  align-items: center;
  justify-content: left;
  overflow-x: scroll;

  .image {
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.25);
    }
  }
}
// REGISTRATION FORM ***********************************************************

.regButton {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .filestackContainer {
    display: flex;
    flex-direction: column-reverse;

    .thumbnail {
      height: 9rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

// EDIT PROFILE FORM ***********************************************************

#creatorEditForm {
  margin-top: 7rem;
}

// LOGIN FORM ******************************************************************

#loginFormSection {
  height: 0;
  padding: 0;
  transition: height 0.7s ease;
  background: #f9fafc;
  overflow: hidden;
  display: flex;
  align-items: center;

  &.displayed {
    height: 10vh;
  }

  .container {
    width: 90%;
  }

  form {
    h2,
    label {
      color: #fff;
    }
  }
}
// COMMENT FORM ****************************************************************

#star-ratings {
  font-size: 1.5em;
  unicode-bidi: bidi-override;
  direction: rtl;

  label {
    color: #c5c5c5;
  }

  label:hover {
    color: $stars;

    & ~ label {
      color: $stars;
    }
  }

  input[type="radio"] {
    display: none;

    &:checked {
      & +label {
        color: $stars;

        & ~ label {
          color: $stars;
        }
      }
    }
  }
}

// LOADING *********************************************************************

#loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;

  h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 8rem;
    white-space: nowrap;
    overflow: hidden;

    span {
      margin: 1rem;
      opacity: 0;
      transition: opacity 0.07s ease;

      &.displayed {
        opacity: 1;
      }
    }
  }
}

// MEDIA QUERIES ***************************************************************
@media only screen and (max-width: 1088px) {

  a.navbar-burger.burger {
    margin-top: 1rem;
  }

  .navbar-menu {
    display: block;
    box-shadow: 0 0 0 #fff;
    transition: box-shadow 0.5s ease;


    .navbar-end {
      display: block;
      height: 0;
      overflow: hidden;
      transition: height 0.7s ease;
    }

    &.is-active {
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);

      .navbar-end {
        display: block;
        height: 5rem;
      }

      .navbar-end.creator {
        height: 7rem;
      }
    }
  }

  .itemDiv{
    .itemDescription{
      h3 {
        font-size: 1.5em;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #loginFormSection.displayed {
    height: 30vh;
  }

  .itemDiv{
    .itemDescription{
      h3 {
        font-size: 0.8em;
      }
    }
  }

  .profileImageLarge.image {
    width: 20rem;
    height: 20rem;
  }

  .profileImagesSmall {
    div.column {
      width: 25%!important;

      div.image {
        width: 100%;
      }
    }
  }
}
