@charset "utf-8";
@import "~bulma/bulma";


// GENERAL *********************************************************************
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ITEMS INDEX *****************************************************************
.itemDiv {

  border: 2px solid #fff;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;

  .image {
    transition: background 0.5s ease;
  }

  .itemDescription {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f00;
  }

  &:hover{

    .itemDescription {
      opacity: 1;
    }
  }
}

// ITEMS SHOW ******************************************************************

.card.creatorProfile {
  transition: all 0.5s ease;
  background: #fff;
  box-shadow: inset 0px 0px 0px 0px #fff;

  .card-image {
    margin: 5%;
    border-radius: 100%;
    border: 2px solid #ccc;
    overflow: hidden;
  }
}

.card.creatorProfile:hover {
  background: #efefef;
  box-shadow: inset 0px 0px 10px 3px #999;
}

// MEDIA QUERIES ***************************************************************

@media only screen and (max-width: 1088px){
  .navbar-menu {
    display: block;
    box-shadow: 0 0 0 #fff;
    transition: box-shadow 0.5s ease;

    .navbar-end {
      display: block;
      height: 0;
      overflow: hidden;
      transition: height 1s ease;
    }

    &.is-active {
      box-shadow: 0 8px 16px rgba(10, 10, 10, 0.1);

      .navbar-end {
        display: block;
        height: 5rem;
      }
    }
  }
}
